/*@charset "utf-8";*/
/* CSS Document */

* {
  font-family: "Baloo 2";
  color: #151614;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #FAF9E7;
}

/* HEADER */

header {
  font-size: 18px;
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  display: flex;
  gap: 100px;
  padding: 10px;
}

/*HERO*/
#hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  /*color momentaneo-no alcanzo a ver donde empiezan las cosas-luego de que se aplique la imagen se borra*/
}

/*INDEX*/

.imagen-con-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#nuestras-especialidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

#las-especialidades {
  display: flex;
  gap: 20px;
}

.botones{
  background-color: #274635;
  color: #FAF9E7;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

#donde-encontrarnos{
  background-color: #568A35;
  padding: 100px;
}

#datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin: 30px;
}


/* FOOTER */
footer {
  background-color: red;
  display: flex;
  gap: 40px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: auto;
}

.footer_links {
  justify-content: center;
  text-align: center;
}

footer ul {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff4500;
  border-radius: 40px;
  margin: 2rem auto;
  max-width: 600px;
}

.accordion_btn {
  background: #ff4500;
  border: none;
  padding: .8rem 1.8rem;
  border-radius: 40px;
  height: 100px;
  cursor: pointer;
  transition: background .3s ease;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion_btn:hover {
  background: #7C8B23;
}

.accordion_content {
  width: 500px;
  max-height: 0;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 20px;
  padding: 0 1.5rem;
  transition: max-height 0.4s ease;
}

.accordion_content p {
  font-family: 'Bitter', serif;
  font-size: 1.125rem;
  color: #fcd1f6;
  margin: 10px;
}

.accordion_content.show {
  background-color: #ff4500;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}