/*@charset "utf-8";*/
/* CSS Document */

* {
  font-family: "Baloo 2";
  color: #151614;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #FAF9E7;
}

h2 {
  font-family: "Petrona", serif;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

/* HEADER */

header {
  font-size: 28px;
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
}

nav {
  display: flex;
  gap: 100px;
  padding: 20px;
}



/* FOOTER */
footer {
  background-color: red;
  display: flex;
  gap: 40px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: auto;
}

.footer_links {
  justify-content: center;
  text-align: center;
}

footer ul {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
}
 

/*menu*/

main.menu {
  margin: 0px 0px 50px 50px;
}

/*acordeones*/

.accordion_entradas {
  display: flex;
  align-items: flex-start;
  background-color: #F5DFA5;
  /* margin: 2rem auto; */
  max-width: 30%;
  flex-direction: column;
  padding: 0;
}

.accordion_btn_entradas {
  /*background: #F5DFA5;*/
  background-image: url('entradas.jpg');
  background-position: center;
  background-size: cover;
  border: none;
  padding: .8rem 1.8rem;
  height: 200px;
  cursor: pointer;
  transition: background .3s ease;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion_content_entradas {
  width: 50%;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.4s ease;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0px 16px 0px 16px;
  
}

.accordion_content_entradas.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}


/*listas de items y precios*/

ul.lista_items {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Baloo 2', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}

ul.lista_precios {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'petrona', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
  text-align: right;
}

.descripcion_items {
  font-family: 'Baloo 2', sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  color: #000000;
  line-height: 1rem;
}

.destacado_menu {
  font-weight: bold;
  font-family: 'Petrona', serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 2rem;
  
}