/*@charset "utf-8";*/
/* CSS Document */

* {
  font-family: "Baloo 2";
  color: #151614;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #FAF9E7;
  scroll-behavior: smooth;
}

h2 {
  color: #FAF9E7;
  text-align: center;
  font-family: Petrona;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: "Petrona", serif;
  font-size: 2.2rem;
  font-weight: bold;
  font-style: italic;
}

h4 {
  color: #FAF9E7;
  text-align: center;
  font-family: Petrona;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

p {
  font-family: 'Baloo 2', sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
}

h6 {
  font-family: Petrona;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
}

/*-----HEADER-----*/
header {
  font-size: 18px;
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.navegador {
  display: flex;
  gap: 80px;
  flex-direction: row;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 0px;
  left: 0;
  background: #D83222;
  border-radius: 50px;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
  color: #D83222;
}

/*-----INDEX-----*/
#hero-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
  position: relative;
}

#overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#overlay h3 {
  color: #FAF9E7;
}

#opacidad-video {
  position: absolute;
  width: 1920px;
  height: 428px;
  background-color: black;
  opacity: 0.4;
  z-index: 0;
}

#hero-index video {
  display: block;
}

.imagen-con-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#nuestras-especialidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 60px;
}

#las-especialidades {
  display: flex;
  gap: 20px;
}

.botones {
  background-color: #274635;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
}

.botones a{
  color: #FAF9E7;
}

.donde-encontrarnos {
  background-color: #568A35;
  background-image: url(img/index/fondo-mapa.svg);
  padding: 100px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.mapa {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FAF9E7;
  padding: 20px;
  gap: 7px;
}

.linea {
  border-top: 3px solid #151614;
  width: 85%;
  border-radius: 100px;
}

#datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin: 30px;
}

/*-----MENÚ-----*/

#hero-menu {
  background-image: url('img/menu/menu-img.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

main.menu {
  margin: 0px 0px 50px 50px;
}

/*---Acordeones---*/

/*---entradas---*/

.accordion_entradas {
   display: flex;
   align-items: flex-start;
   background-color: rgb(245, 223, 165);
   max-width: 30%;
   flex-direction: column;
   padding: 0px;
}

  .accordion_btn_entradas {
   height: 200px;
   cursor: pointer;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(245, 223, 165);
   border-width: initial;
   border-style: none;
   border-color: initial;
   border-image: initial;
   padding: 0.8rem 1.8rem;
   transition: background 0.3s;

  }

  .accordion_content_entradas {
   max-height: 0px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: nowrap;
   width: 100%;
   justify-content: space-between;
   box-sizing: border-box;
   overflow: hidden;
   transition: max-height 0.4s;
   margin: 0px;
   padding: 0px 16px;
  }


.accordion_content_entradas.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}
/*---minutas---*/
.accordion_minutas {
   display: flex;
   align-items: flex-start;
   background-color: rgb(245, 223, 165);
   max-width: 30%;
   flex-direction: column;
   padding: 0px;
}

  .accordion_btn_minutas {
   height: 200px;
   cursor: pointer;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(245, 223, 165);
   border-width: initial;
   border-style: none;
   border-color: initial;
   border-image: initial;
   padding: 0.8rem 1.8rem;
   transition: background 0.3s;

  }

  .accordion_content_minutas {
   max-height: 0px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: nowrap;
   width: 100%;
   justify-content: space-between;
   box-sizing: border-box;
   overflow: hidden;
   transition: max-height 0.4s;
   margin: 0px;
   padding: 0px 16px;
  }


.accordion_content_minutas.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}


/*---postres---*/
.accordion_postres {
   display: flex;
   align-items: flex-start;
   background-color: rgb(245, 223, 165);
   max-width: 30%;
   flex-direction: column;
   padding: 0px;
}

  .accordion_btn_postres {
   height: 200px;
   cursor: pointer;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(245, 223, 165);
   border-width: initial;
   border-style: none;
   border-color: initial;
   border-image: initial;
   padding: 0.8rem 1.8rem;
   transition: background 0.3s;

  }

  .accordion_content_postres {
   max-height: 0px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: nowrap;
   width: 100%;
   justify-content: space-between;
   box-sizing: border-box;
   overflow: hidden;
   transition: max-height 0.4s;
   margin: 0px;
   padding: 0px 16px;
  }


.accordion_content_postres.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}

/*---pastas---*/
.accordion_pastas {
   display: flex;
   align-items: flex-start;
   background-color: rgb(245, 223, 165);
   max-width: 30%;
   flex-direction: column;
   padding: 0px;
}

  .accordion_btn_pastas {
   height: 200px;
   cursor: pointer;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(245, 223, 165);
   border-width: initial;
   border-style: none;
   border-color: initial;
   border-image: initial;
   padding: 0.8rem 1.8rem;
   transition: background 0.3s;

  }

  .accordion_content_pastas {
   max-height: 0px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: nowrap;
   width: 100%;
   justify-content: space-between;
   box-sizing: border-box;
   overflow: hidden;
   transition: max-height 0.4s;
   margin: 0px;
   padding: 0px 16px;
  }


.accordion_content_pastas.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}

.accordion_mariscos {
   display: flex;
   align-items: flex-start;
   background-color: rgb(245, 223, 165);
   max-width: 30%;
   flex-direction: column;
   padding: 0px;
}

  .accordion_btn_mariscos {
   height: 200px;
   cursor: pointer;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(245, 223, 165);
   border-width: initial;
   border-style: none;
   border-color: initial;
   border-image: initial;
   padding: 0.8rem 1.8rem;
   transition: background 0.3s;

  }

  .accordion_content_mariscos {
   max-height: 0px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: nowrap;
   width: 100%;
   justify-content: space-between;
   box-sizing: border-box;
   overflow: hidden;
   transition: max-height 0.4s;
   margin: 0px;
   padding: 0px 16px;
  }


.accordion_content_mariscos.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}

.accordion_bebidas {
   display: flex;
   align-items: flex-start;
   background-color: rgb(245, 223, 165);
   max-width: 30%;
   flex-direction: column;
   padding: 0px;
}

  .accordion_btn_bebidas {
   height: 200px;
   cursor: pointer;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(245, 223, 165);
   border-width: initial;
   border-style: none;
   border-color: initial;
   border-image: initial;
   padding: 0.8rem 1.8rem;
   transition: background 0.3s;

  }

  .accordion_content_bebidas {
   max-height: 0px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   flex-wrap: nowrap;
   width: 100%;
   justify-content: space-between;
   box-sizing: border-box;
   overflow: hidden;
   transition: max-height 0.4s;
   margin: 0px;
   padding: 0px 16px;
  }


.accordion_content_bebidas.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}







main.menu {
  margin: 0px 50px 50px 50px;
}

ul.lista_items {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Baloo 2', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}

ul.lista_precios {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'petrona', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
  text-align: right;
}

/*-----RESERVAS-----*/
#hero-reservas {
  background-image: url('img/reservas/reserva-img.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}


/*-----NOSOTROS-----*/
#hero-nosotros {
  background-image: url('img/nosotros/reserva.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 1.5rem 0;
}

.img-nosotros {
  flex-direction: column;
  justify-content: left;
  gap: 8px;
  padding-top: 10px;
}

.texto-nosotros {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 383px;
}

.nosotros-verde {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 2.19rem 0;
  background-color: #568A35;
}

.texto-nosotros-verde {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.texto-nosotros-verde p {
  color: #FAF9E7;
}

.texto-nosotros-verde h3 {
  color: #FAF9E7;
}

.img-nosotros-verde h6 {
  color: #FAF9E7;
}

.img-nosotros-verde {
  flex-direction: column;
  justify-content: left;
  gap: 8px;
  padding-top: 15px;
}

/*-----RESERVAS-----*/
.reservas {
  background-image: url(img/mantel.svg);
}

.reservas-contenedor {
  display: flex;
  padding: 40px;
}

.input_group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reservas-alergias {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.si,
.no,
.enviar {
  border-radius: 71px;
  padding: 15px, 15px, 15px, 15px;
  border: 2px solid black;
  background-color: #FAF9E7;
  font-size: 1.2em;
}

.si,
.enviar:hover {
  background-color: #274635;
  color: white;
  border: 2px solid #274635;
}

.no:hover {
  background-color: #7C1A0F;
  color: white;
  border: 2px solid #7C1A0F;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FAF9E7;
  padding-top: 20px;
  padding-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  background-color: white;
  color: black;
}

textarea {
  resize: both;
}

.fin-formulario {
  display: flex;
  justify-content: flex-end;
}

/*-----FOOTER-----*/
footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 7px 27px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}