/*@charset "utf-8";*/
/* CSS Document */

* {
  font-family: "Baloo 2";
  color: #151614;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #FAF9E7;
  scroll-behavior: smooth;
}

h2 {
  color: #FAF9E7;
  text-align: center;
  font-family: Petrona;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: "Petrona", serif;
  font-size: 2.2rem;
  font-weight: bold;
  font-style: italic;
}

h4 {
  color: #FAF9E7;
  text-align: center;
  font-family: Petrona;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

p {
  font-family: 'Baloo 2', sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
}

h6 {
  font-family: Petrona;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
}

/* HEADER */

header {
  font-size: 18px;
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  display: flex;
  gap: 100px;
  padding: 10px;
}

/*INDEX*/
#hero-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video{
  position: relative;
}

#overlay{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#overlay h3{
  color: #FAF9E7;
}

#opacidad-video{
  position: absolute;
  width: 1920px;
  height: 428px;
  background-color: black;
  opacity: 0.4;
  z-index: 0;
}

#hero-index video{
  display: block;
}

.imagen-con-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#nuestras-especialidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 60px;
}

#las-especialidades {
  display: flex;
  gap: 20px;
}

.botones {
  background-color: #274635;
  color: #FAF9E7;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

#donde-encontrarnos {
  background-color: #568A35;
  padding: 100px;
}

#datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin: 30px;
}

/*MENU*/

#hero-menu {
  background-image: url('img/menu/menu-img.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

main.menu {
  margin: 0px 0px 50px 50px;
}

/*acordeones*/

.accordion_content_entradas.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}


main.menu {
  margin: 0px 50px 50px 50px;
}


ul.lista_items {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Baloo 2', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}

ul.lista_precios {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'petrona', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
  text-align: right;
}

/*----RESERVAS----*/
#hero-reservas {
  background-image: url('img/reservas/reserva-img.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}


/*----NOSOTROS----*/
#hero-nosotros {
  background-image: url('img/nosotros/reserva.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 1.5rem 0;
}

.img-nosotros {
  flex-direction: column;
  justify-content: left;
  gap: 8px;
  padding-top: 10px;
}

.texto-nosotros {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 383px;
}

.nosotros-verde {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 2.19rem 0;
  background-color: #568A35;
}

.texto-nosotros-verde {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.texto-nosotros-verde p {
  color: #FAF9E7;
}

.texto-nosotros-verde h3 {
  color: #FAF9E7;
}

.img-nosotros-verde h6 {
  color: #FAF9E7;
}

.img-nosotros-verde {
  flex-direction: column;
  justify-content: left;
  gap: 8px;
  padding-top: 15px;
}

/*----FOOTER----*/
footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 7px 27px;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}