/*@charset "utf-8";*/
/* CSS Document */

* {
  font-family: "Baloo 2";
  color: #151614;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #FAF9E7;
  scroll-behavior: smooth;
}

h2 {
  font-family: "Petrona", serif;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: 'Baloo 2', sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
}

h6 {
  font-family: Petrona;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
}

/* HEADER */

header {
  font-size: 18px;
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  display: flex;
  gap: 100px;
  padding: 10px;
}

/*HERO-INDEX*/
#hero-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  /*color momentaneo-no alcanzo a ver donde empiezan las cosas-luego de que se aplique la imagen se borra*/
}

/*INDEX*/

.imagen-con-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#nuestras-especialidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

#las-especialidades {
  display: flex;
  gap: 20px;
}

.botones{
  background-color: #274635;
  color: #FAF9E7;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

#donde-encontrarnos {
  background-color: #568A35;
  padding: 100px;
}

#datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin: 30px;
}


/* FOOTER */
footer {
  background-color: red;
  display: flex;
  gap: 40px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: auto;
}

.footer_links {
  justify-content: center;
  text-align: center;
}

footer ul {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
}

/*menu*/

main.menu {
  margin: 0px 0px 50px 50px;
}

/*acordeones*/



.accordion_content_entradas.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}


main.menu {
  margin: 0px 50px 50px 50px;
}


ul.lista_items {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Baloo 2', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}

ul.lista_precios {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'petrona', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
  text-align: right;
}

/*----NOSOTROS----*/
.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 1.5rem 0;
}

.img-nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  gap: 8px;
  padding-top: 10px;
}

.texto-nosotros p, h2 {
  color: #151614;
  max-width: 383px;
}

.texto-nosotros {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nosotros-verde {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 2.19rem 0;
  background-color: #568A35;
}

.texto-nosotros-verde {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texto-nosotros-verde p {
  color: #FAF9E7;
  max-width: 400px;
}
/* Esto lo puse separado porque no se porque si lo hacia junto se me modificaba el h2 de las otras secciones */
.texto-nosotros-verde h2{
  color: #FAF9E7;
}

.img-nosotros-verde h6{
  color: #FAF9E7;
}

.img-nosotros-verde {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  gap: 8px;
  padding-top: 15px;
}