/*@charset "utf-8";*/
/* CSS Document */

* {
  font-family: "Baloo 2";
  color: #151614;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.intro {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #274635;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}

.intro.fade-out {
  opacity: 0;
  pointer-events: none;
}

.intro img {
  position: absolute;
  top: 41%;
  left: 32%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

body {
  background-color: #FAF9E7;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h2 {
  color: #FAF9E7;
  text-align: center;
  font-family: Petrona;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: "Petrona", serif;
  font-size: 2.2rem;
  font-weight: bold;
  font-style: italic;
}

h4 {
  color: #FAF9E7;
  text-align: center;
  font-family: Petrona;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

p {
  font-family: 'Baloo 2', sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
}

h6 {
  font-family: 'petrona serif';
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
}

h7 {
  font-family: Petrona;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: auto;
}

/*-----HEADER-----*/
header {
  font-size: 18px;
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu-toggle {
  display: none;
}

.menu-icono {
  display: none;
  background-image: url('img/hamburguesa.svg');
  background-size: cover;
  width: 26px;
  height: 26px;
  z-index: 999;
}

.navegador {
  display: flex;
  gap: 80px;
  flex-direction: row;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 0px;
  left: 0;
  background: #D83222;
  border-radius: 50px;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
  color: #D83222;
}

/*-----INDEX-----*/
.video-container {
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  opacity: 50%;
}

#hero-index {
  background-color: #151614;
}

.video-container #overlay {
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 50px 0 50px 0;
}

#overlay h3 {
  color: #FAF9E7;
}

.imagen-con-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#nuestras-especialidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 60px;
}

#las-especialidades {
  display: flex;
  gap: 20px;
}

.botones {
  background-color: #274635;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  position: relative;
  display: inline-block;
}

.botones a {
  color: #FAF9E7;
}

.botones::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0;
  background: #FAF9E7;
  border-radius: 50px;
  transition: width 0.3s ease-in-out;
}

.botones:hover::after {
  width: 100%;
  color: #FAF9E7;
}

.donde-encontrarnos {
  background-color: #568A35;
  background-image: url(img/index/fondo-mapa.svg);
  padding: 100px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.mapa {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FAF9E7;
  padding: 20px;
  gap: 7px;
}

.linea {
  border-top: 3px solid #151614;
  width: 85%;
  border-radius: 100px;
}

#datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  padding: 60px 50px 60px;
}

#datos p {
  font-weight: bold;
}

#texto-color-1 {
  color: #D83222;
}

#texto-color-2 {
  color: #274635;
}

#texto-color-3 {
  color: #7C1A0F;
}

.reviews {
  display: flex;
  justify-content: center;
  flex-direction: inline;
  align-items: flex-start;
  padding-bottom: 30px;
  gap: 60px;
}

.review {
  margin: 0;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.cuerpo-review {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*-----MENÚ-----*/

#hero-menu {
  background-image: url('img/menu/menu-img.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

/*---Acordeones---*/

.seccion_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 2.5rem 0;
  margin: 0 100px 0 100px;
}

.accordion_menu {
  display: flex;
  align-items: flex-start;
  background-color: rgb(245, 223, 165);
  width: 420px;
  flex-direction: column;
  padding: 0px;
}

[class*="accordion_btn_"] {
  height: 200px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0.8rem 1.8rem;
  transition: background 0.3s;

}

[class*="accordion_content_"] {
  max-height: 0px;
  display: flex;
  overflow: hidden;
  transition: max-height 0.4s;
  margin: 0px;
  padding: 0px 16px;
  justify-content: space-between;
  width: 100%;
}

[class*="accordion_content_"].show {
  width: 100%;
  margin: 0 0 15px 0px;
  padding: 1rem;
  background-color: #F5DFA5;
  display: flex;
  justify-content: space-between;
}

.accordion_btn_entradas {
  background-image: url(img/menu/entradas.jpg);
}

.accordion_btn_minutas {
  background-image: url(img/menu/minutas.jpg);
}

.accordion_btn_postres {
  background-image: url(img/menu/postres.jpg);
}

.accordion_btn_pastas {
  background-image: url(img/menu/pastas.jpg);
}

.accordion_btn_mariscos {
  background-image: url(img/menu/mariscos.jpg);
}

.accordion_btn_bebidas {
  background-image: url(img/menu/bebidas.jpg);
}

/*-----listas-----*/
ul.lista_items {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Baloo 2', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}

ul.lista_precios {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'petrona', serif;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1rem;
  text-align: right;
}

li.destacado_menu {
  font-style: italic;
  font-size: 1rem;
  font-family: 'petrona', serif;
  line-height: 1.5rem;
  font-weight: 700;
}

/*-----RESERVAS-----*/
#hero-reservas {
  background-image: url('img/reservas/reserva-img.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

#data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  gap: 5px;
}

#data p {
  font-family: "Petrona";
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
}

.reservas {
  background-image: url(img/mantel.png);
}

.reservas-contenedor {
  display: flex;
  justify-content: center;
}

.reservas-alergias {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

.si,
.no,
.enviar {
  border-radius: 71px;
  padding: 2px 20px;
  border: 2px solid #151614;
  background-color: #FAF9E7;
  font-size: 1.2em;
}

.si:hover,
.enviar:hover {
  background-color: #274635;
  color: white;
  border: 2px solid #274635;
}

.no:hover {
  background-color: #7C1A0F;
  color: white;
  border: 2px solid #7C1A0F;
}

.form-fields {
  display: flex;
  flex-direction: column;
  background-color: #FAF9E7;
  padding: 40px;
  max-width: 800px;
  margin: 60px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  background-color: white;
  color: #151614;
  border: solid 2px;
}

textarea {
  resize: both;
}

.fin-formulario {
  display: flex;
  justify-content: flex-end;
}

/*-----NOSOTROS-----*/

#hero-nosotros {
  background-image: url('img/nosotros/reserva.jpg');
  background-size: cover;
  background-position: center;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.nosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 1.5rem 0;
}

.img-nosotros {
  flex-direction: column;
  justify-content: left;
  gap: 8px;
  padding-top: 10px;
}

.texto-nosotros {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 383px;
}

.nosotros-verde {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 2.19rem 0;
  background-color: #568A35;
}

.texto-nosotros-verde {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.texto-nosotros-verde p {
  color: #FAF9E7;
}

.texto-nosotros-verde h3 {
  color: #FAF9E7;
}

.img-nosotros-verde h6 {
  color: #FAF9E7;
}

.img-nosotros-verde {
  flex-direction: column;
  justify-content: left;
  gap: 8px;
  padding-top: 15px;
}

/*----galeria----*/
.caja-nosotros-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.img-nosotros-gal {
  display: grid;
  grid-template-columns: 470px 470px;
  grid-gap: 20px;
  margin: 0;
}

.efecto-de-foto{
  transition: transform 0.3s ease;
}

.efecto-de-foto:hover{
  transform: scale(1.05);

}

#galeria {
  display: none;
  width: 100%;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10;
}

#galeria-oculta {
  display: flex;
  width: 100%;
  max-width: 1450px;
  overflow: hidden;
  z-index: 20;
}

.fraccion {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-width: 1450px;
  height: 100vh;
  justify-content: space-around;
}

.primer-ultima-flecha {
  visibility: hidden;
}

.close {
  position: absolute;
  top: 25px;
  right: 2%;
}

#fondo-galeria-oculta {
  background-color: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#foto-1 {
  background-image: url("img/nosotros/nosotros-4.jpg");
}

#foto-2 {
  background-image: url("img/nosotros/nosotros-5.jpg");
}

#foto-3 {
  background-image: url("img/nosotros/nosotros-6.jpg");
}

#foto-4 {
  background-image: url("img/nosotros/nosotros-7.jpg");
}

#foto-5 {
  background-image: url("img/nosotros/nosotros-8.jpg");
}

#foto-6 {
  background-image: url("img/nosotros/nosotros-9.jpg");
}

#foto-7 {
  background-image: url("img/nosotros/nosotros-10.jpg");
}

#foto-8 {
  background-image: url("img/nosotros/nosotros-11.jpg");
}

/*-----FOOTER-----*/

footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 7px 27px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

/*-----RESPONSIVE-----*/
@media (max-width: 575px) {

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1rem;
  }

  .menu-icono {
    display: block;
    z-index: 1000;
  }

  .navegador {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    width: 75%;
    height: 100vh;
    background-color: #FAF9E7;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 50px;
    z-index: 999;
    transition: all 0.4s ease;
  }

  #menu-toggle:checked+.menu-icono+.navegador {
    display: flex;
  }

  #menu-toggle:checked+.menu-icono {
    background-image: url('img/nosotros/cruz.svg');
  }

  nav a {
    font-size: 24px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  /*-----@MENU-----*/
  .seccion_menu {
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .accordion_entradas,
  .accordion_minutas,
  .accordion_bebidas,
  .accordion_mariscos,
  .accordion_pastas,
  .accordion_postres {
    max-width: 100%;
  }

  /*-----@NOSOTROS-----*/
  .nosotros,
  .nosotros-verde {
    flex-direction: column;
    padding: 20px;
    gap: 25px;
  }

  .img-nosotros img,
  .img-nosotros-verde img {
    width: 100%;
    height: auto;
  }

  .texto-nosotros,
  .texto-nosotros-verde {
    max-width: 100%;
    padding: 30px;
  }

  .img-nosotros {
    gap: 20px;
  }

  .img-proyectos img {
    width: 80%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  /*-----@RESERVAS-----*/
  .reservas {
    margin-bottom: 30px;
  }

  /*-----@FOOTER-----*/
  footer {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
    padding-bottom: 30px;
  }

  .redes {
    gap: 70px;
  }
}