/*@charset "utf-8";*/
/* CSS Document */

* {
  font-family: "Baloo 2";
  color: #151614;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #FAF9E7;
}

/* HEADER */

header {
  font-size: 18px;
  font-weight: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  display: flex;
  gap: 100px;
  padding: 10px;
}

/*HERO*/
#hero{
  display: flex;
  flex-direction: ;
  align-items: center;
}

/*INDEX*/

.imagen-con-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#nuestras-especialidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

#las-especialidades {
  display: flex;
  gap: 20px;
}

#donde-encontrarnos{
  background-color: #568A35;
  padding: 100px;
}

#datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin: 30px;
}


/* FOOTER */
footer {
  background-color: red;
  display: flex;
  gap: 40px;
  padding-left: 100px;
  padding-right: 100px;
  max-width: auto;
}

.footer_links {
  justify-content: center;
  text-align: center;
}

footer ul {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
}




.accordion_content_entradas.show {
  background-color: #F5DFA5;
  display: flex;
  flex-direction: row;
  padding: 0 16px 16px 16px;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0px;
  justify-content: space-between;
  box-sizing: border-box;
}


main.menu {
  margin: 0px 50px 50px 50px;
}


ul.lista_items {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'Baloo 2', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
}

ul.lista_precios {
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: 'petrona', sans-serif;
  line-height: 2rem;
  font-size: 1rem;
  text-align: right;
}

